<div class="row">
  <div class="learn-content">
    <h1>Entendendo conceitos iniciais</h1>

    <div class="text-block">
      <h2>O que é programação?</h2>
      <p>
        Programar é escrever um código que representa tarefas que o computador vai executar.
      </p>
    </div>

    <div class="text-block">
      <h2>O que é linguagem de programação?</h2>
      <p>
        A linguagem de programação é um conjunto de regras, sintáticas e semânticas, capazes de informar instruções ao computador.
      </p>
    </div>

    <div class="text-block">
      <h2>Ferramenta para escrita de código</h2>
      <p>
        Primeiro você deve fazer o download de um editor de código ou IDE de sua preferência, a IDE ou o editor vão te auxiliar durante o processo de escrita do código.
        Embora você pode editar o código até mesmo no bloco de notas, o editor vai aumentar seu desempenho e permitir que você altere seu código de maneira personalizada.
      </p>
      <p>
        Estou recomendando fazer o download do <a target="_blank" href="https://atom.io/">atom</a> ou do <a target="_blank" href="https://code.visualstudio.com/">vscode</a>.
      </p>
    </div>
  </div>
</div>
