<div class="main">
  <div class="main-card red">
    <!-- academic -->
    <div class="academic">
      <h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-mortarboard" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5ZM8 8.46 1.758 5.965 8 3.052l6.242 2.913L8 8.46Zm-3.824.57a.5.5 0 0 0-.656.328l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Zm-.068 1.874.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46l-3.892-1.556Z"/>
        </svg>
        FOMAÇÃO ACADÊMICA E CURSOS
      </h1>

      <p>
        <b>Ciência da computação</b> - Graduação concluída em 2019, os principais conhecimentos desenvolvidos foram sobre tecnologias mobile e web para a conclusão do curso, utilizando as tecnologias ANGULAR, IONIC, FIREBASE, FIRESTORE.
      </p>
      <p>
        <b>PHP + LARAVEL</b> - Após a formação no curso de ciência da computação, continuei estudando outras tecnologias como, PHP aprendi também um pouco de LARAVEL.
        (pouco conhecimento sobre).
      </p>
      <p>
        <b>CURSO JS AVANÇADO COM TS</b> - Aprofundei meus conhecimentos em algumas tecnologias como TYPESCRIPT, aprendi sobre testes automatizados com JEST e aprofundei ainda mais meus conhecimentos sobre express e back-end.
      </p>
    </div>
    <!-- XP -->
    <div class="exp">
      <h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-double-up" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
          <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
        </svg>
        EXPERIÊNCIAS
      </h1>
      <p>Desenvolvimento de software com layout responsivo com layout responsivo, aplicando conhecimentos de tecnologias como angular, firebase, firestore;</p>
      <p>Desenvolvimento de e-commerce com Angular, Angular universal, express (typescript) e jest para testes automatizados;</p>
    </div>
  </div>
  <!--  -->

  <!-- more tec -->
  <div class="main-card gray noSelect">
    <h1 class="title">APRENDER</h1>
    <h3>Passar conhecimento adiante é exercitar aquilo que ensina e inspirar quem aprende, por isso compartilho o pouco que sei.</h3>
    <div class="tecnologies">
      <div class="row">
        <div class="t-item col-2" routerLink="learn/iniciando">
          <h2>INICIANDO</h2>
        </div>

        <div class="t-item col-4" routerLink="learn/front">
          <h2>FRONT-END</h2>
        </div>

        <div class="t-item col-4" routerLink="learn/back">
          <h2>BACK-END</h2>
        </div>

        <div class="t-item col-4" routerLink="learn/firestore">
          <h2>FIRESTORE</h2>
        </div>

        <div class="t-item col-4" routerLink="learn/rules">
          <h2>FIREBASE RULES</h2>
        </div>

        <div class="t-item col-2" routerLink="learn/sql">
          <h2>SQL</h2>
        </div>

        <div class="t-item col-2" routerLink="learn/js">
          <h2>JS</h2>
        </div>

        <div class="t-item col-2" routerLink="learn/ts">
          <h2>TS</h2>
        </div>

      </div>
    </div>
  </div>
</div>
