
<div class="projects">
  <h1>REPOSITÓRIOS E PROJETOS WEB</h1>
  <h3>Vou orientar você em meu github mostrando alguns projetos desenvolvidos por mim:</h3>
  <div class="row">
    <div class="project col-4"
      *ngFor="let project of projectDescriptions"
      [ngClass]="{ bold:idProjectSelected === project.idProject}"
      (click)="setIdProject(project.idProject)"
    >
      <p>
        {{project.idProject}}
      </p>
    </div>

  </div>

  <div class="description" *ngIf="idProjectSelected">
    <h2>{{getProjectDescriptionByProjectId().idProject}}</h2>

    {{getProjectDescriptionByProjectId().description}}

    <br>

    <button class="btn-open-new-window" (click)="openInNewTab()">
      Abrir em nova aba
    </button>
  </div>
</div>
