
<div class="building">
  <div class="row">
    <div class="col-8">
      <img class="noDrag noSelect" src="../../../assets/20943659.jpg" alt="construção">
    </div>
    <div class="col-4">
      <h1 class="noSelect">
        POR FAVOR TENHA PACIÊNCIA, ESTA PÁGINA ESTÁ EM DESENVOLVIMENTO
        <div class="spinner-grow text-dark" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </h1>
    </div>
  </div>
  <a target="_blank" href='https://br.freepik.com/vetores/tecnologia'>Tecnologia vetor criado por vectorjuice - br.freepik.com</a>
</div>
