
.building img {
  max-width: 100% !important;

  width: auto;
  height: auto;

  image-rendering: pixelated !important;
}

.building h1 {
  font-size: 30pt;

  line-height: 1.2;
}

.learn {
  padding: 5%;
}

.learn h1 {
  font-size: 30pt;
}

