
.title {
  font-weight: bold;

  font-size: 24pt;
}

.tecnologies {
  border-top: 3px #fff solid;
}

.t-item {
  cursor: pointer;

  padding: 2%;

  text-align: center;
}

.t-item:hover {

  transition: all 500ms ease;

  color: #fff;
  background: #000;

  text-decoration: underline;
}

@media (max-width: 900px) {

  .t-item {
    cursor: pointer;

    min-width: 30%;

    padding: auto;
  }

  .t-item h2 {
    font-size: 9pt;
  }

}
