<div class="my-card gray noSelect">
  <h1 class="title">APRENDER</h1>
  <h3>Passar conhecimento adiante é exercitar aquilo que ensina e inspirar quem aprende, por isso compartilho o pouco que sei.</h3>
  <div class="tecnologies">
    <div class="row">
      <div class="t-item col-2" routerLink="learn">
        <h2>INICIANDO</h2>
      </div>

      <div class="t-item col-4" routerLink="learn">
        <h2>FRONT-END</h2>
      </div>

      <div class="t-item col-4" routerLink="learn">
        <h2>BACK-END</h2>
      </div>

      <div class="t-item col-4" routerLink="learn">
        <h2>FIRESTORE</h2>
      </div>

      <div class="t-item col-4" routerLink="learn">
        <h2>FIREBASE RULES</h2>
      </div>

      <div class="t-item col-2" routerLink="learn">
        <h2>SQL</h2>
      </div>

      <div class="t-item col-2" routerLink="learn">
        <h2>JS</h2>
      </div>

      <div class="t-item col-2" routerLink="learn">
        <h2>TS</h2>
      </div>

    </div>
  </div>
</div>
