<div class="my-card red">
  <!-- Academic -->
  <div class="academic">
    <h1>
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-mortarboard" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5ZM8 8.46 1.758 5.965 8 3.052l6.242 2.913L8 8.46Zm-3.824.57a.5.5 0 0 0-.656.328l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Zm-.068 1.874.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46l-3.892-1.556Z"/>
      </svg>
      FOMAÇÃO ACADÊMICA E CURSOS
    </h1>
    <p>
      Em 2019 bacharelado em <b>Ciência da computação</b> pela UNIFRAN(Universidade de Franca).<a href="https://siaa.cruzeirodosul.edu.br/consulta-diploma/resultado/index.jsf;jsessionid=k5ikw5V7SVaIds_LbRzbulwbJbFxVc3GjFaGdSFw.mianmar16:srv-consulta-diploma-A16">aqui</a>
    </p>
    <p>
      Concluí o curso de <b>javascript</b> avançado onde aprendi desenvolvimento de APIS Rest com nodejs e também aprendi sobre react para desenvolvimento de web site.<a target="_blank" href="https://www.udemy.com/certificate/UC-d9e2f8cb-70a3-47f4-a3eb-90f6ec2138bf/">aqui</a>
    </p>
    <p>
      Concluí o curso de <b>angular</b> na cod3r <a target="_blank" href="https://www.cod3r.com.br/certificates/yyhatioqwt">aqui</a>.
    </p>
    <p>
      Concluí o curso de <b>angular</b> de Loiane Groner. <a target="_blank" href="https://www.youtube.com/watch?v=tPOMG0D57S0&list=PLGxZ4Rq3BOBoSRcKWEdQACbUCNWLczg2G">aqui</a>
    </p>
  </div>
  <!-- XP -->
  <div class="exp">
    <h1>
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-double-up" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
        <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
      </svg>
      EXPERIÊNCIAS
    </h1>
    <p>Desenvolvimento de web site para gestão de pessoas em clickrh; (nível estágio)</p> <br />
    <p>Desenvolvimento de web site para gestão de pessoas em clickrh; (nível jr)</p> <br />
    <p>Desenvolvimento de e-commerce; (nível pleno)</p>
  </div>
</div>
