<div id="main" class="my-card red">
  <!-- Academic -->
  <div class="academic">
    <h1>
      <app-mortarboard></app-mortarboard>
      FOMAÇÃO ACADÊMICA E CURSOS
    </h1>
    <p>
      Em 2019 concluí bacharelado em
      <b>Ciência da computação</b>
      pela UNIFRAN(Universidade de Franca)
    </p>
    <p>
      Concluí o curso de <b>javascript</b> avançado onde aprendi desenvolver
      APIS Rest com Node.JS e também aprendi sobre react para desenvolvimento de web site.<a target="_blank" href="{{udemy}}">aqui</a>
    </p>
    <p>
      Concluí o curso de <b>Angular</b> na cod3r <a target="_blank" href="{{cod3r}}">aqui</a>.
    </p>
    <p>
      Concluí o curso de <b>Angular</b> de Loiane Groner. <a target="_blank" href="{{loiane}}">aqui</a>
    </p>
  </div>
  <!-- XP -->
  <div class="exp">
    <h1>
      <app-xp></app-xp>
      EXPERIÊNCIAS
    </h1>
    <p>Desenvolvimento de web site para gestão de pessoas em clickrh, criação de API REST e desenvolvimento front-end com as tecnologias Angular
      nodejs e criação de testes automatizados com jest no back-end.(estágio / 2 meses)
    </p> <br />
    <p>Desenvolvimento de web site para gestão de pessoas em clickrh, criação de API REST, desenvolvimento front-end, tratamento e
      gerenciamento de arquivos e dados de usuários com as tecnologias
      nodejs e criação de testes automatizados com jest no back-end. (nível jr / 1 ano)
    </p> <br />
    <p>Criação de e-commerce com as tecnologias Angular, Firestore, node.js, express, criação e manutenção de API REST com
      integração com a plataforma de pagamento do mercadopago, integração com a plataforma do recaptcha do google. (autônomo / 1 ano </p> <br />
  </div>
</div>
