<div id="main" class="my-card red">
  <!-- Academic -->
  <div class="academic">
    <h1>
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-mortarboard" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5ZM8 8.46 1.758 5.965 8 3.052l6.242 2.913L8 8.46Zm-3.824.57a.5.5 0 0 0-.656.328l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Zm-.068 1.874.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46l-3.892-1.556Z"/>
      </svg>
      FOMAÇÃO ACADÊMICA E CURSOS
    </h1>
    <p>
      Em 2019 concluí bacharelado em
      <b>Ciência da computação</b>
      pela UNIFRAN(Universidade de Franca), copie meu nome completo
        <svg (click)="copy()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
          <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
          <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
        </svg>
      copiar e pesquise meu nome COMPLETO
      <a (click)="openNewTab()">
        aqui
      </a>.
    </p>
    <p>
      Concluí o curso de <b>javascript</b> avançado onde aprendi desenvolvimento de APIS Rest com nodejs e também aprendi sobre react para desenvolvimento de web site.<a target="_blank" href="https://www.udemy.com/certificate/UC-d9e2f8cb-70a3-47f4-a3eb-90f6ec2138bf/">aqui</a>
    </p>
    <p>
      Concluí o curso de <b>angular</b> na cod3r <a target="_blank" href="https://www.cod3r.com.br/certificates/yyhatioqwt">aqui</a>.
    </p>
    <p>
      Concluí o curso de <b>angular</b> de Loiane Groner. <a target="_blank" href="https://www.youtube.com/watch?v=tPOMG0D57S0&list=PLGxZ4Rq3BOBoSRcKWEdQACbUCNWLczg2G">aqui</a>
    </p>
  </div>
  <!-- XP -->
  <div class="exp">
    <h1>
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-double-up" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
        <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
      </svg>
      EXPERIÊNCIAS
    </h1>
    <p>Desenvolvimento de web site para gestão de pessoas em clickrh, criação de API REST e desenvolvimento front-end com as tecnologias Angular
      nodejs e criação de testes automatizados com jest no back-end.(estágio / 2 meses)
    </p> <br />
    <p>Desenvolvimento de web site para gestão de pessoas em clickrh, criação de API REST e desenvolvimento front-end, tratamento e
      gerenciamento de arquivos e dados de usuários com as tecnologias
      nodejs e criação de testes automatizados com jest no back-end. (nível jr / 1 ano)
    </p> <br />
    <p>Criação de e-commerce com as tecnologias Angular, Firestore, node.js, express, criação de API REST com
      integração com a plataforma de pagamento do mercadopago, integração com a plataforma do recaptcha do google (autônomo / 1 ano), </p> <br />
  </div>
</div>
