
.commit-list {
  padding-bottom: 5%;

}

.balao {
  max-width: 80% !important;

  width: auto;
  height: auto !important;

  color: #333;
  font-size: 13pt;

  border: 0.5px solid #ccc;

  padding: 2%;

  margin-top: -5%;
  margin-bottom: 1%;
  margin-left: 4%;

  border-radius: 2%;
}

small {
  font-size: 9pt;

  color: #444;
}

.base {
  margin-top: 2% !important;

  width: 0;
  height: 0;

  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #ddd;

  margin-left: 2% !important;
}
