<div id="bg-menu">
  <div id="btn-menu only-mobile" (click)="actionMenu()">
    <span id="hamburger">
      <span id="before"></span>
      <span id="after"></span>
    </span>
  </div>
</div>

<nav id="menu" class="menu">

  <!-- PROFILE IMG -->
  <div class="item">
    <div class="img noSelect">
      <img
        class="img-circular noSelect noDrag"
        src="../../../assets/adam.jpg"
        alt="Adam Teodoro Nunes da Silva"
      >
    </div>
  </div>

  <div class="item">
    <h2>Adam Teodoro</h2>
    <h5>Web Developer</h5>
  </div>

  <!-- HOBBIES -->
  <div class="item">
    <h4>HOBBIES</h4>
    <p>
      Robies: jogar vídeo game 👾; escutar música🎸;
    </p>
  </div>

  <!-- ABOUT-->
  <div class="item">
    <h4>SOBRE</h4>
    <p>
      Tenho conhecimentos sobre as linguagens de programação JS, TS, e já trabalhei com frameworks como Angular e EXPRESS, posso atuar tanto no front-end quanto no back-end.
    </p>
  </div>

  <!-- CONTACT-->
  <div class="item">
    <h3>CONTATO</h3>

    <h5>E-MAIL</h5>
    <p>adamteodoronunes@gmail.com</p>

    <h5>TELEFONE</h5>
    <p>+55 16 99946-2612</p>

  </div>

  <div class="item">
    <h3>SOCIAL</h3>
    <a href="https://www.linkedin.com/in/adam-teodoro-nunes" target="_blank">
      <app-linkedin></app-linkedin>
    </a>
    <a href="https://github.com/AdamTeodoro" target="_blank">
      <app-github></app-github>
    </a>
  </div>
</nav>
