
#btn-menu {
  display: none;

  z-index: 15;
}

#nav {
  all: unset !important;
}

.menu {

  position: fixed !important;

  height: 100%;
  width: 30%;

  color: #222 !important;

  border-right: solid 1px #ccc;

  padding: 5px;

  box-shadow:  0 0 1em rgb(139, 135, 135);

  overflow-y: scroll;

  background-color: white !important;

  scrollbar-width: thin;
  scrollbar-color: #222 #999;

}

.menu .item {
  padding: 5%;

}

.menu .img {
  min-height: 120px;
  min-width: 120px;
}

.img img {
  width: 100px;
  height: 100px;
}

.menu::-webkit-scrollbar {
  width: 12px !important;
}

.menu::-webkit-scrollbar-track {
  background: #222 !important;
}

.menu::-webkit-scrollbar-thumb {
  background-color: #222 !important;
  border: 2px solid #999 !important;
}

.menu app-linkedin, app-github {
  margin-left: 1%;
}

@media (max-width: 500px) {

  #hamburger {
    border-top: 2px solid;

    width: 20px;

    display: block;

    z-index: 15 !important;
  }


  #after, #before  {
    content: "";

    display: block;

    width: 20px;
    height: 2px;

    background-color: currentColor;

    margin-top: 5px;

    transition: all 300ms ease;

    position: relative;

  }

  #bg-menu {

    top: 20px;
    left: 20px;

    margin-top: 10px;
    margin-left: 80%;

    position: absolute !important;

    z-index: 10 !important;

    background: #fff;
  }

  #btn-menu {
    display: block;
  }

  #nav {
    all: unset !important;
  }

  #menu {
    margin-top: 0px !important;
    margin-left: 0px !important;

    top: 0px !important;
    left: 0px !important;

    width: 100% !important;
    height: 100%;

    position: fixed;

    z-index: 4;

    padding: 2%;

    background-color: #fff;

    box-shadow: 2px 2px 2px #eee;

    transition: height 500ms ease-out, padding ease 500ms;

    overflow-y: scroll;

    display: none;
  }

}

